#general
.env
.DS_Store
*/__pycache__/

#heartrate_processor

#posture_processor
posture_processor/posture/
posture_processor/*.csv
posture_processor/*.pkl

#mosquitto
/mosquitto/mosquitto.db
/mosquitto/mosquitto.log

#pupil_processor
/pupil_processor/pupil/
/pupil_processor/pupil.csv

#analysis_module
/analysis_module/analysis/

#linkedin_scraping
/linkedin_scraping/linkedin/

#expression_processor
/expression_processor/weights/