version: '3.9'

services:
  mqtt-broker:
    container_name: mqtt-broker
    image: eclipse-mosquitto
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto:/mosquitto/data
      - ./mosquitto:/mosquitto/log
    ports:
      - 1883:1883
      - 9001:9001

  grafana:
    container_name: grafana
    image: grafana/grafana-oss:latest
    ports:
      - 3000:3000
    environment:
      - GF_INSTALL_PLUGINS=grafana-mqtt-datasource
    depends_on:
      - mqtt-broker
    volumes:
      - grafana-storage:/var/lib/grafana
  
  analysis-module:
    container_name: analysis-module
    image: analysis_module
    depends_on:
      - mqtt-broker
  
  expression-processor:
    container_name: expression-processor
    image: expression_processor
    ports:
      - 5007:5000
    depends_on:
      - mqtt-broker
  
  heartrate-processor:
    container_name: heartrate-processor
    image: heartrate_processor
    ports:
      - 3476:5000
    depends_on:
      - mqtt-broker
  
  linkedin-scraping:
    container_name: linkedin-scraping
    image: linkedin_scraping
    ports:
      - 5000:5000 
    env_file: linkedin_scraping/.env
  
  robot-controller:
    container_name: robot-controller
    image: robot_controller
    ports:
      - 5001:5000 
    depends_on:
      - mqtt-broker

volumes:
  grafana-storage: 
    external: true