version: '3.9'

services:
  # mqtt-broker:
  #   container_name: mqtt-broker
  #   image: eclipse-mosquitto
  #   volumes:
  #     - ./mosquitto/config:/mosquitto/config
  #     - ./mosquitto:/mosquitto/data
  #     - ./mosquitto:/mosquitto/log
  #   ports:
  #     - 1883:1883
  #     - 9001:9001
  
  analysis-module:
    container_name: analysis-module
    image: analysis_module:latest
    ports:
      - 5006:5000
  
  expression-processor:
    container_name: expression-processor
    image: expression_processor:latest
    ports:
      - 5007:5000
    depends_on:
      - analysis-module
  
  # heartrate-processor:
  #   container_name: heartrate-processor
  #   image: heartrate_processor:latest
  #   ports:
  #     - 3476:5000
  #   depends_on:
  #     - analysis-module
  
  # linkedin-scraping:
  #   container_name: linkedin-scraping
  #   image: linkedin_scraping:latest
  #   ports:
  #     - 5000:5000 
  #   env_file: linkedin_scraping/.env
  #   volumes:
  #     - linkedin-storage:/profile-cache
  
  robot-controller:
    container_name: robot-controller
    image: robot_controller:latest
    ports:
      - 5001:5000 
    depends_on:
      - analysis-module

volumes:
  linkedin-storage: 
    external: true